.card {
  margin: 2px;
  display: flex;
  flex-direction: row !important;
  width: 408px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid rgba(112, 51, 173, 0.20);
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0px 0px 53.9px 0px rgba(0, 163, 255, 0.05);
  backdrop-filter: blur(26.94999885559082px);
  cursor: pointer;
  /* padding: 15px; */
}

.card-body {
  padding: 5px;
}

.card img{
  width: 20%; 
  height: 30%;
  flex-shrink: 0;
}

.card h5{
  color: #951015;
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card p{
  color: #605E5C;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
}

.selected{
  flex-shrink: 0;
  border-radius: 20px;
  border: 3.5px solid #362F6A !important;
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0px 0px 53.9px 0px rgba(0, 163, 255, 0.05);
  backdrop-filter: blur(26.94999885559082px);
}

@media (max-width: 1200px) {
  .card {
    /* display: flex;
    flex-direction: row !important; */
    width: 33%;
    height: 50%;
    /* flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid rgba(112, 51, 173, 0.20);
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0px 0px 53.9px 0px rgba(0, 163, 255, 0.05);
    backdrop-filter: blur(26.94999885559082px);
    cursor: pointer;
    padding: 15px; */
  }

  .card img {
    margin-top: 20px;
  }
  .card-body {
    margin: 0;
    padding: 0;
  }
  .card p.card-text {
    display: none;
  }
}