
.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    /* padding: 15px; */
    position: relative;
    margin-top: 6rem;
    margin-left : 5rem;
}

.specializations {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.specialization-page{
    width: 60% ;
}
.specialization-card{
    width: 100%;
    
    padding: 20px;
    
}

.specialization-details{
    margin-left: 8rem;
}

