/* .licon-text{
  margin:30px
} */
.licon-text-inner {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.licon-text-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.licon-text-list__item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.licon-text-list__list-item {
  max-width: 600px;
}

.licon-text-list__icon {
  display: block;
  /* width: 100px; */
  min-width: 0;
  height: 100%;
  /* margin: 0 auto 15px; */
  margin-right: 15px;
  /* border: 2px solid black; */
}

.licon-text-list__icon img {
  /* width: 100%; */
  width: 72px;
  height: auto;
  max-height: 72px;
  margin: 10px;
}

img {
  vertical-align: middle;
}

img {
  border-style: none;
}

.licon-text-list__content {
  /* border: 2px solid black; */
  /* padding-left: 20px; */
  width: 70%;
  text-align: left;
}

.licon-text-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.licon-text-list__description {
  font-size: 15px;
  line-height: 27px;
}
@media (max-width: 960px) {
  .licon-text-list {
    display: block;
    padding-left: 40px;
  }
}
@media (max-width: 570px) {
    .licon-text-list .row{
        height: 600px;
    }
    .licon-text-list{
        padding: 10px;
    }
  .licon-text-list__list-item {
    /* margin-top: 40px !important;
    padding: 10px !important; */
  }
  .licon-text-list__item {
    display: block;
  }
  .licon-text-list__icon {
    height: auto;
    padding: 10px;
  }
  .licon-text-list__content {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
  }
}
