* {
    line-height:2.4cap;
}

h1,h2 {
    margin-bottom: 10px;
}

.HeaderVisual-ir {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    height: 65vh;
    background-image: url("../img/backImg.jpg");
    object-fit: cover;
}

.Container-ir {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -30px;
}

.Info-section {
    display: block;
    max-width: 948px;
    text-align: center;
    margin: 40px 10px 27px 10px;
    padding: auto;
}
.Info-section p {
    font-size: 17px;

}

.IntroBanner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 5rem 20px 0 20px;
    align-items: center;
}
.IntroBanner img {
    border-radius: 8px;
}

.IntroBanner-det {
    padding: 10px;
    max-width: 700px;
    margin: 20px 60px 20px 20px;
}
.IntroBanner-det h2{
    margin-bottom: 30px;
    font-size: 22px;
}
.IntroBanner-det li{
    margin: 8px 0;
}

/* roadmap */
.RoadmapContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 740px;
    margin: 5rem 20px 0 20px;
}

.Roadmap {
    margin: 5rem 10px 5rem 10px;
    height: 800px;
    background-color: #443c9056;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

/* Image recognition process */
.irProcessContainer {
    margin: 0 auto 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.irProcess {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}
.irProcess .ul {
    margin: 0;
}
.ProcessCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 360px;
    max-height: 400px;
    min-height: 300px;
    padding: 10px;
    align-items: center;
    margin: 0px 20px;
}
.ProcessCard img {
    margin: 20px;
}

/* usage section */
.UsageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    margin: 20px 10px ;
    max-width: 900px;
}
.UsageContainer img {
    border-radius: 8px;
}

.UsageText {
    padding: 10px;
    max-width: 600px;
    margin-left: 40px;
}
.UsageText li{
    margin: 8px 0;
}

.Industryheading {
    margin: 5rem 20px 0 20px;
    text-align: center;
    max-width: 950px;
}

/* CustomerSuccess */
.CustomerSuccess {
    display: block !important;
}

@media (max-width: 1024px) {
    .IntroBanner {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 5rem 20px 20px 0;
        align-items: center;
    }
    .IntroBanner img {
        border-radius: 8px;
    }
    
    .IntroBanner-det {
        text-align: center;
        padding: 10px;
        max-width: 700px;
        margin: 20px 60px 20px 20px;
    }
    .IntroBanner-det p{
        margin-left: 10px;
        text-align: start;
    }
    .IntroBanner-det li{
        text-align: start;
        margin: 8px 0;
    }

    .irProcess {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
    }
    .ProcessCard {
        margin: 1rem 20px;
    }

    .UsageContainer {
        flex-direction: column;
        /* justify-content: start; */
        /* text-align: center; */
        /* align-items: center; */
        margin: 20px 10px ;
        max-width: 100%;
        width: 100%;
    }
    .UsageContainer img {
        border-radius: 8px;
        width: 600px;
        height: 400px;
    }
    .UsageText {
        /* max-width: 65%; */
        /* margin-left: 40px; */
        margin: 0 auto;
    }
}

@media(max-width: 650px){
    .UsageContainer img{
        min-width: 350px;
        width: 90%;
    }
}

.imgSize{
    width: 300px !important;
}

@media(max-width: 960px){
    .imgSize{
        width: 200px !important;
    }
}

@media(max-width: 540px){
    .imgSize{
        width: 100px !important;
    }
}