.BannerVisualLft {
    /* margin-left: 100px;
    margin-right: 120px; */
    display: flex;
    justify-content: space-evenly;
}

.BannerVisualLft ._backimg {
    position: absolute;
    width: 172px;
    height: 132px;
    background-color: #da828d;
    margin-top: 150px;
    z-index: -1;
    border-radius: 10px;
    margin-left: -20px;
}

.BannerVisualRgt ._backimg {
    position: absolute;
    width: 172px;
    height: 132px;
    background-color: #da828d;
    margin-top: 150px;
    z-index: -1;
    border-radius: 10px;
    margin-left: 295px;
}

.BannerVisualRgt {
    /* margin-left: 100px;
    margin-right: 140px; */
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.BannerVisualRgt .ImgContainer {
    margin-left: 5rem;
}

.BannerVisualLft .ImgContainer {
    margin-right: 5rem;
}

.ImgContainer {
    align-items: center;
    align-content: center;
    display: flex;
    margin: 0px 10px;
    padding: 0px 10px;
}

.ImgContainer img {
    border-radius: 8px;
    /* width: 25rem; */
    object-fit: cover;
}

.BannerDetails {
    text-align: start;
    line-height: 1.7;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35rem;
}

.BannerDetails ul {
    padding-left: 20px;
}

.BannerDetails h2 {
    margin-bottom: 15px;
    text-align: left;
}

.ContactBtn {
    color: black;
    font-size: medium;
    margin-right: auto;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #453c90;
    border-radius: 5px;
    transition: 0.3s;
}

.ContactBtn:hover {
    color: white;
    background-color: #453c90;
}

li::marker {
    color: #453c90;
}

@media (max-width: 1440px) {

    .ImgContainer svg {
        width: 300px;
    }

    .ImgContainer img {
        width: 350px;
        height: 250px;
        object-fit: cover;
    }

    .BannerDetails {
        font-size: medium;
        text-align: left;
        margin: 20px;
        max-width: 100%;
        h2{
            font-size: x-large;
        }
    }

    /* .BannerVisualLft {
        margin-left: 100px;
        margin-right: 120px;
    }
    .BannerVisualRgt {
        margin-left: 100px;
        margin-right: 140px;
    } */
    .BannerVisualRgt .ImgContainer {
        margin-left: 10px;
    }

    .BannerVisualLft .ImgContainer {
        margin-right: 10px;
    }

    .BannerDetails ul {
        width: 500px;
        /* margin: 0 auto; */
        text-align: start;
    }
    .BannerVisualRgt ._backimg {
        margin-left: 198px;
    }
}

@media (max-width: 1023px) {
    ._backimg {
        display: none;
    }

    .BannerVisualLft {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .BannerVisualRgt {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .BannerVisualRgt .ImgContainer {
        margin-left: 0;
    }

    .BannerVisualLft .ImgContainer {
        margin-right: 0;
    }

    .ImgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .ImgContainer svg {
        width: 400px;
    }

    .ImgContainer img {
        width: 550px;
        height: 350px;
        object-fit: cover;
    }

    .BannerDetails {
        text-align: left;
        margin: 20px;
        max-width: 100%;
    }

    .BannerDetails h2 {
        text-align: center;
    }

    .BannerDetails ul {
        width: 500px;
        /* margin: 0 auto; */
        text-align: start;
    }
}

@media (max-width: 580px) {
    .BannerVisualLft {
        width: 100%;
        flex-direction: column;
    }

    .BannerVisualRgt {
        width: 100%;
        flex-direction: column;
    }

    .BannerVisualRgt .ImgContainer {
        margin-left: 10px;
        margin-right: 0;
    }

    .BannerVisualLft .ImgContainer {
        margin-left: 10px;
        margin-right: 0;
    }

    .ImgContainer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px;
    }

    .ImgContainer svg {
        width: 300px;
    }

    .ImgContainer img {
        width: 250px;
        object-fit: cover;
    }

    .BannerDetails {
        text-align: start;
        margin: 20px;
        max-width: 100%;
    }

    .BannerDetails h2 {
        text-align: start;
    }

    .BannerDetails ul {
        width: fit-content;
        margin: 0;
        text-align: start;
    }
}