.BannerVisualLft {
    margin: 40px 20px;
    padding: 10px;
    display: flex;
}

.BannerVisualRgt {
    margin: 40px 20px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.BannerVisualRgt .ImgContainer {
    margin-left: 5rem;
}
.BannerVisualLft .ImgContainer {
    margin-right: 5rem;
}

.ImgContainer {
    align-items: center;
    align-content: center;
    display: flex;
    margin: 20px;
}
.ImgContainer img{
    border-radius: 8px;
    /* width: 25rem; */
    object-fit: cover;
}

.BannerDetails {
    text-align: justify;
    line-height: 1.7;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35rem;
}
.BannerDetails h2{
    margin-bottom: 15px;
    text-align: left;
}

.ContactBtn {
    color:black;
    font-size:medium;
    margin-right:auto;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #453c90;
    border-radius: 5px;
    transition: 0.3s;
}
.ContactBtn:hover {
    color: white;
    background-color: #453c90;
}
li::marker {
    color: #453c90;
}

@media (max-width: 1024px) {
    .BannerVisualLft {
        width: 100%;
        flex-direction: column;
    }
    
    .BannerVisualRgt {
        width: 100%;
        flex-direction: column;
    }

    .BannerVisualRgt .ImgContainer {
        margin-left: 10px;
        margin-right: 5rem;
    }

    .BannerVisualLft .ImgContainer {
        margin-right: 5rem;
    }

    .ImgContainer {
        margin:10px;
    }
    .ImgContainer img{
        width: 100px;
        object-fit: cover;
    }
    
    .BannerDetails {
        margin: 20px;
        max-width: 100%;
    }
}