.banner {
    position: relative;
    display: flex;
    min-width: 0;
    min-height: 610px;
    padding: 32px 20px;
    margin-top: -90px;
    background-color: #453c90;
    color: #fff;
}

@media (min-width: 640px) {
    .banner {
        padding-top: 70px;
        padding-bottom: 90px;
    }
}

@media (min-width: 640px) {
    .banner-bg {
        min-height: 690px;
    }
}

.banner-bg:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: h 1s 2s forwards;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 972px auto;
    content: "";
}

@media (min-width: 640px) {
    .banner:before {
        background-image: url(../img/heading-net-bg.svg);
    }
}

.banner-inner {
    position: relative;
    z-index: 2;
    min-width: 0;
    flex: 1 1 auto;
    margin: auto;
}

.banner-order-effects .banner-title {
    max-width: 690px;
    margin: 0 auto 20px;
    animation: h 1s .2s forwards;
    font-size: 35px;
}

@media (min-width: 640px){
    .banner-title {
        animation: h 1s .2s forwards;
    }
}

.banner-title {
    padding: 0;
    margin: 0 0 12px;
    color: inherit;
    font-size: 35px;
    text-align: center;
}

.banner-order-effects .banner-subtitle {
    max-width: 690px;
    margin: 0 auto 30px;
    animation: h 1s 1.2s forwards;
    font-size: 18px;
}

@media (min-width: 640px) {
    .banner-subtitle {
        animation: h 1s .2s forwards;
    }
}

.banner-subtitle {
    padding: 0;
    margin: 0 0 30px;
    color: inherit;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 742px) {
    .banner #banner-animation {
        bottom: 0;
        max-width: 360px !important;
        max-height: 300px;
    }
}

@media (min-width: 742px) {
    .banner #banner-animation {
        position: absolute;
        right: 0;
        left: 0;
        max-width: 870px;
        margin: auto;
    }
}

#banner-animation {
    animation: h 1.5s 3s forwards;
}
