.trinity {
    padding: 3% 0;
}
.trinity__inner {
    max-width: 1124px;
    padding: 0 20px;
    margin: 0 auto;
}
.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.text-block-center.w-800 {
    max-width: 800px;
}
.text-block-center {
    max-width: 780px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}
.trinity__list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.trinity__item.__w-25, .trinity__item.__w-30, .trinity__item.__w-33 {
    line-height: 27px;
    text-align: center;
    padding: 0 10px;
}
.trinity__item.__w-33 {
    width: 33%;
    padding: 10px 15px 0;
}
.trinity__item_figure {
    width: 72px;
    height: 72px;
    margin: 0 auto 10px;
}
.trinity__item_figure img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.trinity__item_title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
@media (max-width: 742px){
    .trinity__list{
        display: block;
        text-align: center;
    }
    .trinity__item.__w-33 {
        width: 100%;
        padding: 10px 15px 0;
    }
}