.separate-slider {
    max-width: 1110px;
    padding: 0 10px;
    margin: 0 auto;
}
.slick-slider {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.separate-slider__list {
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 30px auto;
    list-style-type: none;
}
.separate-slider__list.__big-arrows .slick-next, .separate-slider__list.__big-arrows .slick-prev {
    position: absolute;
    z-index: 5;
    top: 50%;
    display: block;
    border: 0;
    background-color: transparent;
    color: #b8b8b8;
    cursor: pointer;
    font-size: 0;
    transition: color .12s linear;
}
.separate-slider__list.__big-arrows .slick-prev {
    left: -20px;
    margin-top: 0;
    transform: rotate(-180deg);
}
.slick-arrow {
    cursor: pointer;
    outline: none;
}

.separate-slider__list button {
    touch-action: manipulation;
    text-transform: none;
}
.separate-slider__list button, input {
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.slick-slider .slick-list {
    transform: translateZ(0);
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}
.separate-slider .slick-track {
    display: -ms-flexbox;
    display: flex;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
    outline: none;
}
@media (min-width: 742px)
{
    .separate-slider .slick-slide {
        min-width: 334px;
    }
}
.separate-slider .slick-slide {
    height: auto;
}
.separate-slider .slick-slide, .separate-slider .slick-track {
    display: -ms-flexbox;
    display: flex;
}
.slick-slide {
    height: 100%;
    min-height: 1px;
    float: left;
}
.separate-slider__list-item {
    margin: 15px;
}
.slick-track:after {
    clear: both;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: "";
}


.separate-slider__list.__big-arrows .slick-next, .separate-slider__list.__big-arrows .slick-prev {
    position: absolute;
    z-index: 5;
    top: 50%;
    display: block;
    border: 0;
    background-color: transparent;
    color: #b8b8b8;
    cursor: pointer;
    font-size: 0;
    transition: color .12s linear;
}
.separate-slider__list.__big-arrows .slick-next {
    right: -20px;
    margin-top: -37px;
}
.slick-arrow {
    cursor: pointer;
    outline: none;
}
[type=button], button {
    -webkit-appearance: button;
}
.separate-slider__list button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.separate-slider__list  button {
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.separate-slider__list.__big-arrows .slick-next:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 36px;
    background-image: url(../img/icon-reviews-arrow.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.separate-slider__list.__big-arrows .slick-prev:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 36px;
    background-image: url(../img/icon-reviews-arrow.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.separate-slider__action {
    margin-top: 30px;
    text-align: center;
}
