.section-industries-alt {
    margin: 100px auto;
}

.section-industries-alt {
    margin-bottom: 70px;
}

.industries__inner-alt {
    padding: 0 20px;
}

.__bi-impl__inner-alt {
    max-width: 1124px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    line-height: 1.8;
}

.head-block-center-alt {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.text-block-center-alt {
    max-width: 780px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}

.industries__list-alt {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 35px auto 0;
    display: -ms-flexbox;
    display: flex;
    max-width: 832px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.industries__item-link-alt {
    margin-bottom: 32px;
}

.industries__item-alt {
    transition: box-shadow .2s;
    height: 100%;
    padding: 25px 15px 15px;
    margin-bottom: 0;
    box-shadow: 0 1px 10px rgba(69, 60, 144,.2),0 4px 5px rgba(69, 60, 144,.12),0 2px 4px rgba(69, 60, 144,.14);
    width: 256px;
    padding: 44px 20px 32px;
    margin-bottom: 32px;
    background: #fff;
    border-radius: 7px;
    /* box-shadow: 0 4px 20px rgba(146,201,236,.4); */
    text-align: center;
}

.industries__item-icon-alt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto 10px;
    width: 104px;
    height: 90px;
    flex-direction: column;
}

.industries__item-title-alt {
    font-size: 17px;
}

.industries__item-title-alt {
    font-size: 16px;
    font-weight: 500;
}
