.quick-block {
    padding: 0 20px;
}
.head-block-center.w-800 {
    max-width: 800px;
}
.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.text-block-center {
    max-width: 780px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.block__action {
    display: block;
    margin: 20px auto;
    text-align: center;
}
.block__action .btn.btn-empty {
    display: inline-block;
}
.btn-empty {
    display: inline-block;
    min-height: 50px;
    padding: 14px 25px;
    border: 1px solid #77bce8;
    margin: 0 auto;
    color: #141414;
    font-size: 18px;
}
.btn {
    display: inline-block;
    min-width: 120px;
    /* padding: 9px 10px; */
    border: 1px solid #453c90 !important;
    margin: 0;
    background-color: transparent;
    border-radius: 4px;
    color: #000000 !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 2 !important;
    text-align: center;
    text-decoration: none;
    transition: color .2s,border .2s,background .2s;
    vertical-align: top;
}
.btn:hover{
    background-color: #453c90 !important;
    color: white !important;
}