.quick-block {
    padding: 0 20px;
}
.head-block-center.w-800 {
    max-width: 800px;
    line-height: normal;
}
.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.text-block-center {
    max-width: 780px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
/* .block__action {
    display: block;
    margin: 20px auto;
    text-align: center;
} */
.block__action .btn.btn-empty {
    display: inline-block;
}
/* .block__action .btn-empty {
    display: inline-block;
    min-height: 50px;
    padding: 14px 25px;
    border: 1px solid rgba(185, 9, 27, 1) !important;
    margin: 0 auto;
    color: #141414;
    font-size: 18px;
    border-radius: 30px;
}


.btn:hover{
    background-color: rgba(185, 9, 27, 1) !important;
    color: #fff;
} */

.quick-block{
    /* margin-top: -89px; */
}