.SpecialContainer {
    display: flex;
    margin: 5rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SpecialCards {
    /* align-items: center; */
    grid-template-columns: repeat(4, 1fr);
    margin: 0 30px;
    display: grid;
}

.indCard {
    max-width: 250px;
    margin: 20px 20px;
    padding: 5px;
    text-align: center;
    /* justify-content: center; */
}
.indCard p{
    font-size: 14px;
}
.indCard h3{
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .SpecialCards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 30px;
        display: grid;
        gap: 20px;
    }
}
@media (max-width: 760px) {
    .SpecialCards {
        margin: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}