

.middle-section {
    align-items:safe;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* padding: 15px; */
    position: relative;

}

.specializations {
    display: flex;
    flex-direction: column;
    width:fit-content;
    height:max-content;
    margin: 50px 0 0 0;
}

.specialization-page{
    width: 60% ;
}
.specialization-card{
    width: 100%;  
    padding: 20px; 
}

.specialization-details{
    margin: 10px 10px 10px 6rem;
}

.specialization-details p{
    margin: 10px;
}

.specialization-details h1{
    margin:10px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .specializations {
        flex-direction: row;
    }
    .specialization-details {
        margin: 10px;
    }
}
