/* Form */

.FormBox {
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: fit-content;
    /* background: #1f242d; */
    margin: 20px;
    margin-top: 5rem;
}
.Contact {
    width: 50rem;
}
.Contact form{
    text-align: center;
    align-items: center;
}
.Contact h2{
    text-align: center;
    font-size: 30px;
}

form .input-box {
    display :flex;
    justify-content: space-between;
}
.field .item {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid #73819c;
    outline: none;
    border-radius: 6px;
     margin-bottom: 10px; 
}
.field.error .item {
    border-color: #d93e25;
}
.field .error-txt {
    font-size: 14.5px;
    color: #d93e25;
    text-align: left;
    margin: -5px 20px 10px;
    display: none;
}
.field.error .error-txt {
    display: block;
}

.field .item :placeholder-shown {
    color: rgba(255, 255, 255, .3);
}

.input-box .input-field {
    width: 48.5%;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    font-size: 14.5px;
    color: #d93e25;
    text-align: left;
    margin: -5px 20px 10px;
    display: none;
}

form button {
    color: white;
    padding: 12px 32px;
    background-color: #453c90;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.3s;
    box-shadow: 0 1px 2px #453c90;
}
form button:hover {
    background-color: #393375;
}