.main-cases {
    margin-top: 100px;
    margin-bottom: 100px;
}

.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

@media (min-width: 742px) {
    .predict-use-cases {
        padding-top: 104px;
    }

    .predict-use-cases.__type-predict .predict-use-cases__outer {
        padding-right: 104px;
        padding-left: 104px;
    }

    .predict-use-cases {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .predict-use-cases.__type-predict .predict-use-cases-list-wrapper .predict-use-cases-list {
        margin: 0 0 -10px;
    }

    .predict-use-cases.__type-predict .predict-use-cases-list__list-item2 {
        position: relative;
        top: 0;
        display: flex;
        transition: top .2s;
        width: 50%;
        min-width: 0;
        flex: 0 0 auto;
        padding: 0;
    }

    .predict-use-cases-list__item {
        padding: 18px 16px 14px;
    }

    .predict-use-cases-list__item2 {
        width: 50%;
        min-width: 0;
        flex: 0 0 auto;
        padding: 0;
    }

    .predict-use-cases.__type-predict .predict-use-cases-list__item {
        border: 0;
        margin: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 5px rgba(69, 60, 144, .2), 0 3px 14px rgba(69, 60, 144, .12), 0 8px 10px rgba(69, 60, 144, .14);
    }

    .predict-use-cases.__type-predict .predict-use-cases-list__item:hover,
    .predict-use-cases-list__list-item2:hover {
        top: -7px;
    }
}

@media (min-width: 640px) {
    .predict-use-cases__outer {
        /* padding-right: 78px;
        padding-left: 78px; */
    }

    .predict-use-cases-list__item,
    .predict-use-cases-list__list-item2 {
        /* padding-right: 34px;
        padding-left: 34px; */
    }
}

@media (min-width: 960px) {
    .predict-use-cases-list__list-item2 {
        /* width: 25% !important; */
    }
}

@media (max-width: 960px) {
    .predict-use-cases-list__list-item2 {
        width: 50% !important;
    }
}

@media (max-width: 740px) {
    .predict-use-cases-list__list-item2 {
        width: 85% !important ;
        margin: 0 auto;
    }
}
@media (min-width: 1280px)
{
    .predict-use-cases-list__list-item2 {
        /* width: 25% !important; */
    }
}