.HeaderVisual-nlp {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    height: 70vh;
    background-image: url("../img/backImg.jpg");
    object-fit:contain;
}

.Container-nlp {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -120px;
}

.WelcomeMsg {
    margin: 5rem;
    text-align: center;
}

.LearnMoreSection {
    margin-top: 5rem;
    text-align: center;
}

.TalkToUs {
    color:black;
    font-size:medium;
    margin-right:auto;
    margin: 20px;
    padding: 5px 10px;
    border: 1px solid #453c90;
    border-radius: 5px;
    transition: 0.3s;
}

.TalkToUs:hover {
    color: white;
    background-color: #453c90;
}

.WorkProcess {
    display: block;
    width: 70%;
    margin-top: 5rem;
}

.ExplainProcess {
    width: 100%;
    /* height: 20rem; */
    background-color: #443c9086;
    margin-top: 3rem;
    border-radius: 10px;
}

/* industries */

.TargetIndustries {
    max-width: 1300px;
    margin-top: 5rem;
}

.IndustryItems {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IndustryInditem {
    width: 188px;
    margin: 10px 50px;
}

.IndustryInditem h5 {
    color: black;
}

@media (max-width: 1024px) {
    .TargetIndustries {
        max-width: 1300px;
        margin-top: 5rem;
    }
    
    .IndustryItems {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .IndustryInditem {
        margin: 20px 50px;
    }
}