.ExBannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/BgImg_2.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}
.bg-voilet-linear-gradient2 {
    /* background-color: rgb(37 29 62) !important; */
    background-color: #f4f5f6 !important;
    /* background-image: linear-gradient(
    0deg,
    #54638d 0%,
    rgb(123 106 175) 100%
  ); */
}