.ShowcaseBannerCnt{
    margin: 7rem 20px;
    display: flex;
    justify-content:center;
}

.ShowcaseBannerTitle {
    z-index: 999;
    padding: 40px;
    max-width: 810px;
    background-color: #c8c5dd;
    border-radius: 27px;
    margin-right: 20%;
    min-height: 700px;
    animation: opacityTrans 0.3;
}

.ShowcaseBannerheader {
    margin: 15px 10px 30px;
}
.ShowcaseBannerheader h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ShowcaseBannerheader svg{
    margin: 2px;
    margin-left: 6px;
    color: #b8001c;
    transition: margin-left 0.3s;
    font-size: 33px;
}
.ShowcaseBannerheader svg:hover {
    margin-left: 10px;
    /* color: #b8001c; */
    /* background-color: #b8001c; */
}

.ShowcaseBannerGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    margin: 10px;
    flex-direction: row;
    animation: opacityTrans 0.3;
}

.ShowcaseBanerCard {
    width: 320px;
    display: flex;
    flex-direction: column;
    animation: opacityTrans 0.3;
}
.ShowcaseBanerCard a{
    color: black;
}
.ShowcaseBanerCard a:hover{
    color: #b8001c;
    .ShowcaseBannerArrow{
        margin-left: 8px;
    }
}

.ShowcaseBannerArrow {
    color: #b8001c;
    margin-left: 2px;
    transition: 250ms;
}

.ShowcaseBannerBg {
    margin-left: 20%;
    position: absolute;
    z-index: -1000;
    width: 830px;
    height: 700px;
    /* background-image: url(../img/showcaseBanner.jpg); */
    background-color: #e6e6cf;
    background-size: cover;
    border-radius: 60rem;
}

.ShowcaseBannerNavigate {
    margin-left: 2%;
}

@keyframes opacityTrans {
    0%{opacity:0;}
    100%{opacity:1;}
}

@media (max-width: 1180px) {

    .ShowcaseBannerCnt{
        margin: 3rem;
        display: flex;
        justify-content:start;
    }

    .ShowcaseBannerTitle {
        padding: 40px;
        max-width: 600px;
        background-color: #c8c5dd;
        border-radius: 27px;
        margin-right: 90px;
        min-height: 700px;
        animation: opacityTrans 0.3;
    }

    .ShowcaseBannerGrid {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        margin: 10px;
    }

    .ShowcaseBannerBg {
        margin-top: 20%;
        margin-left: 20%;
        position: absolute;
        z-index: -1000;
        width: 830px;
        height: 700px;
        /* background-image: url(../img/showcaseBanner.jpg); */
        background-color: #e6e6cf;
        background-size: cover;
        border-radius: 60rem;
    }
}