@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #302758;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
  font-family: var(--font-family-sans-serif);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: black;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

.dbox a {
  text-decoration: none !important;
}

.dbox a:hover {
  color: #09031c6f !important;
  text-decoration: underline !important;
}

a {
  text-decoration: None !important;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* .container {
    width: 100%;
    margin: 0 auto;
} */

.menu-icons {
  display: none;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}

/* nav {
  width: 100%;
  border-radius: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 1px solid rgba(255, 255, 255, 0.1);
  -ms-border-radius: 1px solid rgba(255, 255, 255, 0.1);
  -o-border-radius: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(244 245 246);
  flex-direction: column;
  font-family: sans-serif !important;
  color: #333333 !important;
} */

nav ul {
  list-style: none;
  font-weight: 500;
  padding-left: 0 !important;
}
nav a {
  font-size: 0.9rem !important;
}

.logo {
  /* display: inline; */
  font-size: 3rem;
  /* color: rgb(47 38 84); */
  margin-right: 5rem;
  font-family: "Kanit", sans-serif;
  width: 12.5rem;
  height: 5rem;
  line-height: 5rem;
  display: table;
  float: left;
  margin-right: 3rem;
  margin-top: 0;
}

/* .logo {
    width: 12.5rem;
    height: 5rem;
    line-height: 5rem;
    display: table;
    float: left;
    margin-right: 3rem;
} */
.no-transition,
.no-transition-reset {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
}
.logo-inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.no-transition,
.no-transition-reset {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  height: 3rem;
}

.nav-list li {
  line-height: 8rem;
  position: relative;
}

.sub-menu li {
  line-height: 3rem;
}

.nav-list a {
  display: block;
  color: rgb(47 38 84);
  padding: 0 1.5rem;
  font-size: 1.4rem;
  transition: color 650ms;
  -webkit-transition: color 650ms;
  -moz-transition: color 650ms;
  -ms-transition: color 650ms;
  -o-transition: color 650ms;
  position: relative;
  width: 100%;
  align-items: center;
}

.nav-list a:hover {
  color: var(--main-color);
}

.btn {
  padding: 1.3rem;
  /* display: inline-block; */
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: background-color 650ms;
  -webkit-transition: background-color 650ms;
  -moz-transition: background-color 650ms;
  -ms-transition: background-color 650ms;
  -o-transition: background-color 650ms;
}

.btn:hover {
  color: var(--main-color);
}

.sub-menu {
  width: 15rem;
  padding: 0;
  display: block;
  position: absolute;
  border-top: 3px solid rgba(178, 175, 231, 0.856);
  background-color: rgb(244 245 246);
  /* z-index: 100; */
  top: 16rem;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  opacity: 0;
  visibility: hidden;
}

.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 40%;
  border: 1.2rem solid transparent;
  border-bottom: 1.2rem solid rgba(178, 175, 231, 0.856);
}

.sub-menu .sub-menu::before {
  top: 0.3rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: rgba(178, 175, 231, 0.856);
}

.sub-menu .sub-menu {
  border-top: none;
  border-left: 3px solid rgba(178, 175, 231, 0.856);
  top: 0;
  left: 160%;
}

.nav-list li:hover > .sub-menu {
  top: 6.5rem;
  opacity: 1;
  visibility: visible;
}

.sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%;
}

li.move-right {
  margin: auto 0 auto auto;
  line-height: initial;
}

@media screen and (max-width: 900px) {
  .nav-list {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(244 245 246);
    z-index: 1000;
    align-items: initial;
    display: none;
    overflow-y: scroll;
    width: 100%;
  }

  .nav-list > li {
    line-height: 6rem;
  }

  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    margin-left: 1rem;
    max-height: 0;
    background: rgb(244 245 246);
    overflow: hidden;
    margin-right: 0.4rem;
    padding-right: 1rem;
  }

  .sub-menu .sub-menu {
    border: none;
    overflow: hidden;
    margin-right: 0.4rem;
  }

  .sub-menu::before {
    display: none;
  }

  .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  li.move-right {
    margin: 0 auto 0 0;
    line-height: initial;
  }

  .menu-icons {
    display: block;
    color: rgb(47 38 84);
  }

  .fa-times {
    display: none;
  }

  nav.active .fa-times {
    display: block;
  }

  nav.active .fa-bars {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}
.menu-item {
  display: flex;
  align-items: center; /* Center vertically */
  padding-right: 10px; /* Adjust the padding as needed */
  /* Add any other styling you need */
  position: relative; /* Position for pseudo-element */
}

.menu-item .fas.fa-caret-up {
  display: none;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.m-5-p {
  right: 5% !important;
}
.menu-item .fas.fa-caret-down {
  display: inline-block;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

.menu-item:hover .fas.fa-caret-down {
  transform: translateY(-50%) rotate(180deg);
}

.menu-item:hover .fas.fa-caret-up {
  display: inline-block; /* Show the up arrow on hover */
  transform: translateY(-50%) rotate(180deg);
}

.product-information {
  background: white;
}

.product-header {
  text-align: center;
}

.bg-voilet-linear-gradient {
  background-color: rgb(37 29 62) !important;
  background-image: linear-gradient(
    135deg,
    rgb(37 29 62) 0%,
    rgb(105 94 222) 100%
  );
}
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.row {
  display: -webkit-box;
  
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.p-4 {
  padding: 1.5rem !important;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.product-overview,
.product-gallery,
.product-content

{
  /* padding-left: 15%;
  padding-right: 15%;
  padding-top: 12px; */
  /* padding-bottom: 2%; */
  background: white;
}

.link{
  color:#000 ;
  text-decoration:underline !important;
}
.link:hover{
  color:#000;
  text-decoration:underline !important;
}

.shadow-container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 2%;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.product-container {
  color:#141414;
  font-family: proxima-nova,Helvetica Neue,Arial,sans-serif;
  /* font-weight: 300; */
  display: flex;
  justify-content: left;
  /* padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 2%; */
  background:white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  font-family: proxima-nova,Helvetica Neue,Arial,sans-serif;
  /* font-weight: 300; */
  color: #141414;
}




@media (min-width: 1000px) and (max-width: 1322px){
.col   {
  /* background-color: #0062cc; */
  
  /* color: #0062cc; */
  /* padding-left: 112px;
  padding-right: 112px; */
  /* width: 953px; */
  padding-left: 172px;
  padding-right: 12px;
  font-family: sans-serif;
}
.nav-area a {
  padding-left: 10px;
}

body{
  font-size: 0.8rem;
}

.product-container{
  /* padding-left: 172px;
  padding-right: 172px; */
}

}








/* logo positioning */
.nav-area .Navbar-brand {
  /* background-color: #0062cc; */
  position: relative;
  /* left: -30px; */
}


/* reducing padding between banner and text in each page starting */
.text-block-center2  {
  /* background-color: #0062cc; */
  margin-top: -100px;
}
@media (max-width: 1300px) {
  .text-block-center2  {
      margin-left: 10%;
  }
}




/* three card testing */




 /* .slick-track div{
   padding: 0px 2px; 
  margin: 0px 2px;
   width: 152px;  
 } */
/* 
.slick-slide  div{
  padding: 0 2px !important;
  background-color: #0062cc;
}

.slick-active div{
  padding: 0 2px !important;
}

.slick-current div{
  padding: 0 2px !important;
} */

/* .slick-list{
  background-color: #17a2b8;
  width: calc(100% - 26px); 
  overflow-x: auto; 
  white-space: nowrap; 
} */



/* .slick-list div{
  display: inline-block; 
  width: calc(100% - 4046px);
  margin-right: 14px; 
} */
/* .slick-slider.slick-initialized{
  /* width: 3580px; */
  /* display: grid; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
/* }  */







.product-content h2 {
  margin-bottom: 20px;
}
.carousel {
  position: relative;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0s 0.6s opacity;
  -o-transition: 0s 0.6s opacity;
  transition: 0s 0.6s opacity;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  -webkit-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0s 0.6s opacity;
  -o-transition: 0s 0.6s opacity;
  transition: 0s 0.6s opacity;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.bg-primary {
  background-color: var(--main-color) !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.card {
  position: relative;
  display: -webkit-box;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-deck .card {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-group > .card {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}
.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}
.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}
.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion > .card .card-header {
  margin-bottom: -1px;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}
/* .wrapper {
  display: grid ;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
} */
.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.product-info-button {
  color: black !important;
  text-decoration: none !important;
}
/* .wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
} */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#form-message-warning,
#form-message-success {
  display: none;
}
#form-message-warning {
  color: red;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: bold;
}
.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}
.form-group {
  margin-bottom: 1rem;
}

.info-wrap {
  color: rgba(255, 255, 255, 0.8);
}
.info-wrap h3 {
  color: #fff;
}
.info-wrap .dbox {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}
.info-wrap .dbox:last-child {
  margin-bottom: 0;
}
.info-wrap .dbox p {
  margin-bottom: 0;
}
.info-wrap .dbox p span {
  font-weight: 500;
  color: #fff;
}
.info-wrap .dbox p a {
  color: #fff;
}
.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #fff;
}
.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: fit-content;
  max-height: fit-content; */
}

.map-marker-icon {
  /* Add any additional styles for the map marker icon */
  color: #ff0000; /* Set the color to red as an example */
  font-size: 24px; /* Set the font size as needed */
}
.ftco-navbar-light {
  background: #e9ecf5 !important;
  z-index: 3;
  padding: 10px 10px;
  /* border-radius: 5px; */
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  width: inherit;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #e9ecf5 !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}
.ftco-navbar-light .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #fff;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #e6e6e6;
  position: relative;
  opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #fec771;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
  width: 100%;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: #fec771;
  color: #fff;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .img {
  width: 100%;
  display: block;
  height: 250px;
  margin-bottom: 20px;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text h3 a {
  color: #000;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    background: #202020;
    padding: 0 !important;
  }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  background: #fec771;
  border-radius: 0px;
}
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #fec771;
    border-radius: 4px;
  }
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #fec771;
}
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fff;
  }
}
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}
.text-white {
  color: #fff !important;
}
.w-100 {
  width: 100% !important;
}
.p-md-5 {
  padding: 2rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.dbox > div {
  margin-right: 15px; /* Adjust the value as needed */
}

.square {
  border: 1.5px solid #000;
  border-radius: 1.04167vw;
  padding: 1.51042vw 1.875vw 1.5625vw 2.29167vw;
  color: #000;
  overflow: hidden;
  position: relative;
}

.square:hover {
  transition: .5s;
  background-color: var(--main-color);
  color: #fff;
}

.square h3 {
  color: inherit;
}

.fixed-dimensions {
  width: 12rem; /* Adjust the width as needed */
  height: 18rem; /* Adjust the height as needed */
}
.icon-container {
  opacity: 1;
  transition: opacity 1s ease; /* Add transition property */
}




/* media query for laptop display */
@media (min-width: 1030px) and (max-width: 1300px){
  .menus{
    /* background-color: #0062cc; */
    margin-left: -152px;
  }
  
  .Navbar-brand.mb-0.h1{
    /* background-color: #0062cc; */
    margin-left: 30px;
  }
  
}

/* ****************** */  /* ****************** */  /* ****************** */ /* ****************** */  /* ****************** */  



.head-block-center {
  max-width: 600px;
  margin: 0 auto 26px;
  font-size: 32px !important;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.custom-accordion-item {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #9b97b8a1 !important;
  /* border-style:unset !important;; */
}

.custom-accordion-item button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-accordion-item .accordion-button {
  font-style: normal;
  font-size: 16px !important;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.heading-size{
  font-size: 32px !important;
}
.content-size{
  font-size: 16px !important;
}
.subheading-size{
  font-size: 19px !important;
}
.title-size, .text-block-center{
  font-size: 24px !important;
}

@media(max-width: 1030px){
  body, .content-size{
    font-size: 14px !important;
  }
  .custom-accordion-item .accordion-button{
    font-size: 14px !important;
  }
  .head-block-center, .heading-size{
    font-size: 24px !important;
  }
  .subheading-size, .title-size, .text-block-center{
    font-size: 17px !important;
  }

}

@media (max-width: 541px){
  body, .content-size{
    font-size: 12px !important;
  }
}



