/* Remove box shadow from accordion-button:focus */

.faq-block {
    margin-bottom: 5%;
    /* margin-top:5%; */
    display: block;

}

.faq-block-inner {
    max-width: 780px;
    margin: 0 auto;
}

.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 32px !important;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.custom-accordion-item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #9b97b8a1 !important;
    /* border-style:unset !important;; */
}

.custom-accordion-item button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-accordion-item .accordion-button {
    font-style: normal;
    font-size: 16px !important;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}