/* Remove box shadow from accordion-button:focus */

.faq-block {
    margin-bottom: 5%;
    /* margin-top:5%; */
    display: block;

}

.faq-block-inner {
    max-width: 780px;
    margin: 0 auto;
}


  

  