/* Fonts */
:root {
    --default-font: "Segoe UI", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Lato", sans-serif;
  }
  
  /* Global Colors */
  :root {
    --background-color: #b6abff;
    --background-color-rgb: 255, 255, 255;
    --default-color: #212529;
    --default-color-rgb: 33, 37, 41;
    --primary-color: #466685;
    --primary-color-rgb: 70, 102, 133;
    --secondary-color: #32353a;
    --secondary-color-rgb: 50, 53, 58;
    --contrast-color: #ffffff;
    --contrast-color-rgb: 255, 255, 255;
  }
  
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgba(var(--primary-color-rgb), 0.7);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
  }
  
  #productbanner {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 0rem 0;
    overflow: clip;
  }
  
  /* ==================================================================== */
  
  /*--------------------------------------------------------------
  # Home Page Banner
  --------------------------------------------------------------*/
  /* Hero Section - Home Page
  ------------------------------*/
  .hero {
      --default-color: #ffffff;
      --default-color-rgb: 255, 255, 255;
      --background-color: #ffffff;
      --background-color-rgb: 0, 0, 0;
      width: 100%;
      min-height: 100vh;
      position: relative;
      padding: 160px 0 80px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .hero .hero-img {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 1;
      opacity: 1;
    }
    
    .hero:before {
      content: "";
      background: rgba(#d8d3fb, 0.5);
      position: absolute;
      inset: 0;
      z-index: 2;
    }
    
    /* .hero .container {
      position: relative;
      z-index: 3;
    } */
    
    .hero h2 {
      color: var(--contrast-color);
      margin: 0;
      font-size: 44px;
      font-weight: 700;
    }
    
    .hero p {
      color: rgba(var(--default-color-rgb), 0.8);
      margin: 5px 0 0 0;
      font-size: 20px;
    }
    
    .hero .sign-up-form {
      margin-top: 20px;
      padding: 10px;
      border-radius: 7px;
      background: #fff;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    }
    
    .hero .sign-up-form .form-control {
      border: none;
    }
    
    .hero .sign-up-form .form-control:active,
    .hero .sign-up-form .form-control:focus {
      outline: none;
      box-shadow: none;
    }
    
    .hero .sign-up-form input[type=submit]{
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      padding: 8px 20px 10px 20px;
      border-radius: 7px;
      color: var(--contrast-color);
    }
    
    .hero .sign-up-form input[type=submit]:hover {
      background-color: rgba(var(--primary-color-rgb), 0.9);
    }
    
    @media (max-width: 768px) {
      .hero h2 {
        font-size: 32px;
      }
    
      .hero p {
        font-size: 18px;
      }
    }
  
    
  .box {
      opacity: 1;
      /* transform: translateY(20px); */
      transition: opacity 0.1s ease, transform 0.2s ease;
    }
  
    
  .stats .container {
      position: relative;
      z-index: 3;
      width: auto;
    }
    
    .call-to-action .container {
      position: relative;
      z-index: 3;
    }
      
  .hero .container {
      position: relative;
      z-index: 3;
      flex-direction: column;
  }
    
    .fade-into-view {
      opacity: 1;
      transform: translateY(0);
      animation: fadeIntoView 2s ease forwards;
      margin: auto;
      /* margin-top: 6%; */
      /* border-radius: 30px; */
    }
    @keyframes fadeIntoView {
      from {
        opacity: 0;
        width: 110%;
        height: 110%;
      }
      to {
        opacity: 1;
        width: 90%;
        height: 85%;
      }
    }
  
    .fade-in {
      animation: fadeIn 2.5s ease forwards;
    }
    
    .fade-up1 {
      animation: fadeUp 2s ease forwards;
    }
    
    .fade-up2 {
      animation: fadeUp 3s ease forwards;
    }
    
    .fade-up3 {
      animation: fadeUp 4s ease forwards;
    }
    /* animation to make mouse container go up and down slowly */
    .move-mouse {
      animation: moveMouse 2s ease-in-out infinite;
    }
  
    .reach-out {
      display: inline-flex;
      padding: 12px 24px;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      background: #BA141A;
      font-family: var(--default-color);
      color: #FFF;
      cursor: pointer;
  
      /* Subtitle 1 */
      font-family: Segoe UI;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 140% */
    }
  
    .mouse-container {
      position: relative;
      display: flex;
      height: 74.132px;
      flex-shrink: 0;
      margin: auto;
      /* top: 15vh; */
      flex-direction: column;
    }
  
    .mouse-container img {
      position: relative;
      z-index: 3;
      margin: auto;
    }
  
    .mouse-container p {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      padding: auto;
  
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(80px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes moveMouse {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }