.target-section {
    /* padding-bottom: 40px; */
    /* padding-top: 40px; */
    display: block;
    background-color: white;
}

.target__inner {
    padding: 0 20px;
    display: block;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.head-block-center {
    max-width: 600px;
    margin: 0 auto 26px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    padding-bottom: 1rem;
}

.text-block-center {
    max-width: 780px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}
.text-block-center2 {
    margin-top: 0px;
    font-weight: 400;
    max-width: 1000px;
    margin: 15px auto;
    line-height: 1.875;
    text-align: center;
}
.target-section .main-cases {
    margin: 0px auto !important;
}
.target__list {
    align-content: stretch;
    align-items: stretch;
    margin: 35px auto 0;
    justify-content: center;
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
}

.target__list-item {
    margin-bottom: 32px;
}

.target__item {
    /* height: 100%; */
    height: 350px;
    padding: 25px 15px 15px;
    margin-bottom: 0;
    box-shadow: 0 15px 15px rgba(69, 60, 144, .2), 0 4px 5px rgba(69, 60, 144, .12), 0 2px 4px rgba(69, 60, 144, .14);
    margin: 0 15px 32px;
    width: 256px;
    background: #fff;
    border-radius: 7px;
    text-align: center;
}

.target__item:hover {
    background-color: rgb(69 60 144);
    color: #fff;
    box-shadow: 0 15px 15px rgba(69, 60, 144, .2), 0 4px 5px rgba(69, 60, 144, .12), 0 2px 4px rgba(69, 60, 144, .14);
}

.target__item-icon {
    margin: 0 auto ;
    width: 104px;
    height: 90px;
}

.target__item-text,
.target__item-title {
    margin-bottom: 10px;
    line-height: 27px;
}

.target__item-title {
    font-size: 16px;
    font-weight: 500;
}

.carousel__list {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.carousal__item {
    /* height: 100%; */
    height: 400px;
    padding: 25px 15px 15px;
    margin-bottom: 0;
    box-shadow: 15px 15px 15px rgba(69, 60, 144, .2),0 4px 5px rgba(69, 60, 144, .12),0 2px 4px rgba(69, 60, 144, .14);
    margin: 25px 15px 15px;
    width: 75%;
    background: #fff;
    border-radius: 7px;
    text-align: center;
}

.FAQ__item {
    box-shadow: 15px 15px 15px rgba(69, 60, 144, .2),0 4px 5px rgba(69, 60, 144, .12),0 2px 4px rgba(69, 60, 144, .14);
}

.slick-prev {
    width: 18px;
    height: 36px;
    top: 46%;
    transform: rotate(180deg);
    background-image: url(../icons/icon-reviews-arrow.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.slick-next {
    content: '';
    width: 18px;
    height: 36px;
    background-image: url(../icons/icon-reviews-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: "";
}

.slick-next:before{
    content: '';
}
.slick-prev:before{
    content: '';
}

.slick-next:focus, .slick-next:hover{
    background-image: url(../icons/icon-reviews-arrow.svg);
    /* visibility: hidden; */
    background-repeat: no-repeat;
}
.slick-prev:focus, .slick-prev:hover{
    background-image: url(../icons/icon-reviews-arrow.svg);
    /* visibility: hidden; */
    background-repeat: no-repeat;
}

.slick-center {
    transform: scale(1.1);
    transition: transform 1s ease;
}

@media only screen and (max-width: 1350px) {
    .slick-center {
        transform: scale(1);
    /* transition: transform 0.5s ease; */
    }
}

/* .slick-list3{
    height: 460px;
} */
.slick-list3 {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    
}
.slick-list3 .slick-list {
    /* height: auto; */
    padding: 20px 50px !important;
}
.bulletStyle li::marker{
    color:#453c90;
    font-size: 100%;
  }

  @media screen and (max-width: 570px) {
    .slick-prev,
    .slick-next {
      display: none !important; /* Use !important to override any inline styles applied by the slider library */
    }
    .slick-list3 {
        width: 100% !important;
        padding: 0px !important;
    }
    .slick-slider{
        padding: 0px !important;
        justify-content: left !important;
    }
    .slick-list{
        padding: 0px !important;
    }.slick-slide, .slick-active, .slick-current{
        max-width: 390px !important;
    }
  }

  .bannerCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }



  @media (max-width:1440px){
    .product-overview{
        padding: 0 !important;
        background: white;
        max-width: 1126px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .product-container{
        width: 500px !important;
    }
    .bulletStyle{
        width: 100%;
    }
    .icons_res svg{
        /* max-width: 400px !important; */
        position: relative;
    }
    /* .row{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .row2{
        flex-direction: column;
        justify-content: center;
        text-align: center;;
    } */
  }
  @media (max-width: 1330px){
    .row{
        /* flex-direction: column-reverse; */
        justify-content: center;
        /* text-align: center; */
    }
    .row2 {
        /* flex-direction: column; */
    }
    .icons_res svg{
        max-width: 400px !important;
        position: relative;
    }
    .sol{
        flex-direction: column;
        justify-content: center;
        /* text-align: center;; */
    }

    .product-container{
        width: auto !important;
    }
    .bulletStyle{
        width: 100%;
    }
  }
  @media (max-width: 860px){
    .row{
        flex-direction: column-reverse;
        justify-content: center;
        /* text-align: center; */
    }
    .row2 {
        flex-direction: column;
    }
    .sol{
        flex-direction: column;
        justify-content: center;
        /* text-align: center;; */
    }
    .sum .product-container{
        padding: 0 !important;
        width: 100% !important;
    }
    .bulletStyle{
        width: 100%;
    }
  }

  @media (max-width: 570px){
    .row{
        flex-direction: column-reverse;
        justify-content: center;
        /* text-align: center; */
        margin: 3% !important;
    }
    .row2 {
        flex-direction: column;
    }
    .sol{
        flex-direction: column;
        justify-content: center;
        /* text-align: center;; */
    }
    .sum .product-container{
        padding: 0 !important;
        width: 100% !important;
    }
    .bulletStyle{
        width: 100%;
    }
    .icons_res svg{
        max-width: 200px !important;
        position: relative;
    }
    .product-container {
        padding: 0 !important;
    }
  }