body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  padding-top: 1px; /* Adjust the top padding */
  padding-bottom: 1px; /* Adjust the bottom padding */
  height: 60px;
}

body{
  background-color:purple;
}
.form-inputs{
  position:relative;
}
.form-inputs .form-control{
  height:45px; 
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}

.form-inputs i{
  position:absolute;
  right:10px;
  top:15px;
}

.shop-bag{
  background-color:#000;
  color:#fff;
  height:50px;
  width:50px;
  font-size:25px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
}

.qty{
  font-size:12px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(158, 144, 144, 0.548);/* Change this to your preferred color */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust the width as needed */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(158, 144, 144, 0.548); /* Change this to your preferred color on hover */
}

.carousel-item {
  max-height: 100%; /* Adjust the max-height as needed */
  overflow: hidden; /* Hide any content that overflows the carousel item */
}

.carousel-item img {
  max-width: 100%; /* Make the image fit within the width of the carousel item */
  height: auto; /* Allow the image to scale proportionally */
  display: block; /* Remove any default image spacing */
  margin: 0 auto; /* Center the image horizontally */
}

#app {
  height: 100vh;
  opacity: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar {
  height: 50vh;
  background-color: rgba(32, 89, 118, 0.3);
  transition: width 0.8s ease; 
}

.menu {
  background: transparent;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  text-align: center;
  opacity: 1; 
  padding: 5px 0px;
}

.menu-link {
  text-decoration: none;
  font-weight: bold;
  color: #1b2e40;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.product-gallery-carousel:hover img {
  opacity: 0.7; /* Adjust the opacity as needed */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.product-gallery-carousel img {
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

