body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  padding-top: 1px; /* Adjust the top padding */
  padding-bottom: 1px; /* Adjust the bottom padding */
  height: 60px;
}

body{
  background-color:purple;
}
.form-inputs{
  position:relative;
}
.form-inputs .form-control{
  height:45px; 
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}

.form-inputs i{
  position:absolute;
  right:10px;
  top:15px;
}

.shop-bag{
  background-color:#000;
  color:#fff;
  height:50px;
  width:50px;
  font-size:25px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
}

.qty{
  font-size:12px;
}