.BackBannerContainer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:contain;
    background-image: url(../img/BgImg.jpg);
    background-size:cover;
    box-shadow: 0px 1px 10px 0px #3d36809f;
}
.BackBannerInd {
    text-align: center;
    /* max-width: 820px; */
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3rem 20px;
}
.BackBannerInd img{
    margin: 30px;
    width: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.BackBannerDesc {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.BackBannerDesc h5{
    margin: 20px 0;
}