.image-grid {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
    /* gap: 10px; */
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
  }
  
  .image-grid img {
    /* max-width: 70%; */
    max-height: 160px;
    margin: 10px;
  }
  
  .certificate-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    margin: 3rem auto;

  }
  .certificate-images {
    width:100%;
    margin: 10px;
    padding: 10px;
  }

  .certificate-head {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
  }