.form-group{
    display:flex;
}
.captcha{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid #dddddd;
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}